In [4]:
import pandas as pd

In [5]:
df = pd.read_csv("Seinfeld_scripts.csv")

In [4]:
df.head

<bound method NDFrame.head of        Unnamed: 0   Character  \
0               0       JERRY
1               1       JERRY
2               2      GEORGE
3               3       JERRY
4               4      GEORGE
...           ...         ...
54611       54611       JERRY
54612       54612  PRISONER 3
54613       54613       JERRY
54614       54614       GUARD
54615       54615       JERRY

                                                Dialogue  EpisodeNo    SEID  \
0      Do you know what this is all about? Do you kno...        1.0  S01E01
1      (pointing at Georges shirt) See, to me, that b...        1.0  S01E01
2                                       Are you through?        1.0  S01E01
3                 You do of course try on, when you buy?        1.0  S01E01
4      Yes, it was purple, I liked it, I dont actuall...        1.0  S01E01
...                                                  ...        ...     ...
54611    Grand theft auto - don't steal any of my jokes.       23.0  S09E23
54612                      You suck - I'm gonna cut you.       23.0  S09E23
54613  Hey, I don't come down to where you work, and ...       23.0  S09E23
54614   Alright, Seinfeld, that's it. Let's go. Come on.       23.0  S09E23
54615  Alright, hey, you've been great! See you in th...       23.0  S09E23

       Season
0         1.0
1         1.0
2         1.0
3         1.0
4         1.0
...       ...
54611     9.0
54612     9.0
54613     9.0
54614     9.0
54615     9.0

[54616 rows x 6 columns]>

In [6]:
df.shape

(54616, 6)

In [7]:
df.dtypes

Unnamed: 0      int64
Character      object
Dialogue       object
EpisodeNo     float64
SEID           object
Season        float64
dtype: object

In [8]:
df['words'] = df['Dialogue'].str.count(' ') + 1
df.head()

,Unnamed: 0,Character,Dialogue,EpisodeNo,SEID,Season,words
0,0,JERRY,Do you know what this is all about? Do you kno...,1.0,S01E01,1.0,189.0
1,1,JERRY,"(pointing at Georges shirt) See, to me, that b...",1.0,S01E01,1.0,41.0
2,2,GEORGE,Are you through?,1.0,S01E01,1.0,3.0
3,3,JERRY,"You do of course try on, when you buy?",1.0,S01E01,1.0,9.0
4,4,GEORGE,"Yes, it was purple, I liked it, I dont actuall...",1.0,S01E01,1.0,14.0

In [9]:
df.groupby('Character') \
    .words \
    .sum() \
    .sort_values(ascending=False) \
    .head(12)

Character
JERRY           147430.0
GEORGE          107049.0
ELAINE           74642.0
KRAMER           70304.0
NEWMAN            7069.0
FRANK             4894.0
MORTY             4748.0
HELEN             3401.0
PETERMAN          2907.0
SUSAN             2880.0
ESTELLE           2421.0
STEINBRENNER      2213.0
Name: words, dtype: float64

In [10]:
Total_words = df.groupby(by='Season').words.sum()
Total_words

Season
1.0    16511.0
2.0    37235.0
3.0    67968.0
4.0    74172.0
5.0    71418.0
6.0    67962.0
7.0    75209.0
8.0    65795.0
9.0    70015.0
Name: words, dtype: float64

In [11]:
Jerry_word = df[(df.Character == "JERRY")].groupby(by='Season').words.sum() 
Jerry_word

Season
1.0     8888.0
2.0    14690.0
3.0    20936.0
4.0    21419.0
5.0    18103.0
6.0    17239.0
7.0    16631.0
8.0    14348.0
9.0    15176.0
Name: words, dtype: float64

In [12]:
Jerry_words = df[df.Character.str.startswith("JERRY")].groupby(by='Season').words.sum()

In [13]:
df['Character'].str.startswith("JERRY").value_counts()

False    39636
True     14980
Name: Character, dtype: int64

In [14]:
df[(df.Character == 'JERRY')].Character.value_counts()

JERRY    14786
Name: Character, dtype: int64

In [15]:
(Jerry_word / Total_words).round(3)*100

Season
1.0    53.8
2.0    39.5
3.0    30.8
4.0    28.9
5.0    25.3
6.0    25.4
7.0    22.1
8.0    21.8
9.0    21.7
Name: words, dtype: float64

In [16]:
(Jerry_words / Total_words).round(3)*100

Season
1.0    54.1
2.0    39.6
3.0    31.4
4.0    29.1
5.0    25.6
6.0    25.8
7.0    22.4
8.0    22.1
9.0    21.7
Name: words, dtype: float64

In [17]:
Jerry_words - Jerry_word

Season
1.0     50.0
2.0     64.0
3.0    421.0
4.0    185.0
5.0    181.0
6.0    272.0
7.0    210.0
8.0    178.0
9.0     35.0
Name: words, dtype: float64

In [18]:
George_word = df[(df.Character == 'GEORGE')].groupby(by='Season').words.sum() 
George_word

Season
1.0     2889.0
2.0     8605.0
3.0    15004.0
4.0    16252.0
5.0    14279.0
6.0    11921.0
7.0    13911.0
8.0    11129.0
9.0    13059.0
Name: words, dtype: float64

In [19]:
George_words = df[df.Character.str.startswith("GEORGE")].groupby(by='Season').words.sum() 
George_words

Season
1.0     2916.0
2.0     8659.0
3.0    15126.0
4.0    16534.0
5.0    14394.0
6.0    12044.0
7.0    13934.0
8.0    11227.0
9.0    13087.0
Name: words, dtype: float64

In [20]:
(George_words / Total_words).round(2)

Season
1.0    0.18
2.0    0.23
3.0    0.22
4.0    0.22
5.0    0.20
6.0    0.18
7.0    0.19
8.0    0.17
9.0    0.19
Name: words, dtype: float64

In [21]:
(George_word / Total_words).round(3)*100

Season
1.0    17.5
2.0    23.1
3.0    22.1
4.0    21.9
5.0    20.0
6.0    17.5
7.0    18.5
8.0    16.9
9.0    18.7
Name: words, dtype: float64

In [22]:
Kramer_words = df[df.Character.str.startswith("KRAMER")].groupby(by='Season').words.sum() 
Kramer_words

Season
1.0      825.0
2.0     2942.0
3.0     7656.0
4.0     8273.0
5.0     8128.0
6.0    10100.0
7.0    10164.0
8.0    11138.0
9.0    11709.0
Name: words, dtype: float64

In [23]:
(Kramer_words / Total_words).round(3)*100

Season
1.0     5.0
2.0     7.9
3.0    11.3
4.0    11.2
5.0    11.4
6.0    14.9
7.0    13.5
8.0    16.9
9.0    16.7
Name: words, dtype: float64

In [24]:
Elaine_words = df[df.Character.str.startswith("ELAINE")].groupby(by='Season').words.sum() 
Elaine_words

Season
1.0     1548.0
2.0     5250.0
3.0     9759.0
4.0     8730.0
5.0    10230.0
6.0     9796.0
7.0    10303.0
8.0    10069.0
9.0    10297.0
Name: words, dtype: float64

In [25]:
(Elaine_words / Total_words).round(3)*100

Season
1.0     9.4
2.0    14.1
3.0    14.4
4.0    11.8
5.0    14.3
6.0    14.4
7.0    13.7
8.0    15.3
9.0    14.7
Name: words, dtype: float64

In [26]:
Newman_words = df[df.Character.str.startswith("NEWMAN")].groupby(by='Season').words.sum() 
Newman_words

Season
2.0      12.0
3.0     457.0
4.0    1190.0
5.0     726.0
6.0     709.0
7.0    1532.0
8.0    1359.0
9.0    1171.0
Name: words, dtype: float64

In [27]:
(Newman_words / Total_words).round(3)*100

Season
1.0    NaN
2.0    0.0
3.0    0.7
4.0    1.6
5.0    1.0
6.0    1.0
7.0    2.0
8.0    2.1
9.0    1.7
Name: words, dtype: float64

In [28]:
Big_4 = df[(df.Character == 'JERRY') | (df.Character == 'GEORGE') | (df.Character == 'ELAINE') | (df.Character == 'KRAMER')].groupby(by='Season').words.sum()
Big_4

Season
1.0    14149.0
2.0    31397.0
3.0    52861.0
4.0    54328.0
5.0    50557.0
6.0    48776.0
7.0    50808.0
8.0    46486.0
9.0    50063.0
Name: words, dtype: float64

In [29]:
(Big_4 / Total_words).round(3) * 100

Season
1.0    85.7
2.0    84.3
3.0    77.8
4.0    73.2
5.0    70.8
6.0    71.8
7.0    67.6
8.0    70.7
9.0    71.5
Name: words, dtype: float64